<!--Migas de Pan--> 
<ul class="breadcrumb"> 
  <li><a ui-sref="reportes.index">SEDAD</a></li>
  <li><a ui-sref="periodos.index">Períodos</a></li>
  <li class="active">Habilitar período</li>
</ul>
<!--Fin Migas de Pan-->

<div class="container">
	<h3>Habilitar período</h3>
	<form ng-hide="generar_token" class="row" id="periodo-form">
		<div class="col-xs-5">
			<input type="text" id="periodo" ng-model="nuevoPeriodo" placeholder="Semestre y año del Período. Ej.: 02-2015" class="col-xs-12 form-control">
		</div>
		<div class="col-xs-5">
			<select ng-options="option.nombre for option in instrumentosDisponibles | orderBy:'nombre':true track by option.id" ng-model="instrumentoSeleccionado" convert-to-number>
				<option value="">Instrumento a emplear en el período</option>
			</select>
		</div>
		<div class="col-xs-2 text-right">
			<button class="btn btn-success" ng-click="guardar()">Habilitar Período</button>
		</div>
	</form>

	<button ng-if="generar_token" class="btn btn-primary text-center col-xs-12" ng-click="solicitar_token()">Generar Token en servidor</button>
</div>