body {
  padding: 0;
}

.footer {
  color: #777;
  border-top: 1px solid #e5e5e5;
  margin-top: 15px;
  padding-top: 10px;
  padding-left: 15px;
}

/* Custom page header */
.header {
  border-bottom: 1px solid #e5e5e5;
  margin-bottom: 10px;
}
/* Make the masthead heading the same height as the navigation */
.header h3 {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 40px;
  padding-bottom: 19px;
}

.navbar {
  background-color: #7AA7C6;
  margin-bottom: 0px;
  border-radius: 0px;
}

  
  .navbar-brand { padding:0;}
  .navbar-brand img { height: 100%; width: auto; }

.navbar ul.nav li a:active, .navbar ul.nav li a:hover, .navbar ul.nav li a:focus {
  background-color: #6996b5;
}

.navbar ul.nav li {
  margin-left: 10px;
}

.navbar ul.nav li a {
  color: white;
}



.container-narrow > hr {
  margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;
}
.jumbotron .btn {
  font-size: 21px;
  padding: 14px 24px;
}

/* Supporting marketing content */
.marketing {
  margin: 40px 0;
}
.marketing p + h4 {
  margin-top: 28px;
}

.bloque legend {
  margin-bottom: 0;
}


.bloque .descripcion {
  color: gray;
  font-style: italic;
  margin-top: 0px;
  margin-bottom: 1em;
}

.pregunta .titulo {
  font-weight: bold;
}

.pregunta .descripcion {
  font-style: italic;
}

.bloque .descripcion, .pregunta .descripcion {
  color: gray;
  font-size: 0.85em;
  font-style: italic;
}

.opciones li {
  display: inline-block;
  margin: auto 1%;
  text-align: center;
}

.opciones label {
  display: block;
  margin: 0px;
}

/* Cambio de color en barra de carga */
#loading-bar .bar { background: #FC9500; height: 5px; }
/* Fancy blur effect */
#loading-bar .peg { -moz-box-shadow: #FC9500 1px 0 6px 1px; -ms-box-shadow: #FC9500 1px 0 6px 1px; -webkit-box-shadow: #FC9500 1px 0 6px 1px; box-shadow: #FC9500 1px 0 6px 1px; }
#loading-bar-spinner .spinner-icon { border-top-color:  #FC9500; border-left-color: #FC9500; } 

/* Responsive: Portrait tablets and up */
@media screen and (max-width: 768px) {
}