    <nav class="navbar navbar-static-top" ng-controller="CabeceraCtrl">
      <div class="container-fluid">
        <a class="navbar-header top-logo" ui-sref="instrumentos.index">
          <img src="/images/logo.png" alt="">
        </a>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-6">
          <ul class="nav navbar-nav">
            <li ng-repeat="i in menu | orderBy:'titulo'"><a ui-sref="{{i.state}}">{{i.titulo}}</a></li>
            <li ng-show="mostrarElementosDeSesion"><a href="" ng-click="cerrarSesion()">Cerrar sesión</a></li>
          </ul>
          <ul class="nav nabar-nav pull-right">
            <li ng-show="mostrarElementosDeSesion">
<!--             <li ng-show="mostrarElementosDeSesion"> -->
            <a ui-sref="instrumentos.index">Usuario C.I.:{{usuario.cedula}}</a></li>
          </ul>
        </div>
      </div>
    </nav>