    <nav class="navbar navbar-static-top navbar-inverse">
      <div class="container-fluid">
        <div class="navbar-header top-logo">
         <a href='http://localhost:3000/api/v1/reportes/historico_pregunta/materias/6014/preguntas/1.pdf'><img src="/images/logo.png" alt=""></a>
<!--           <a class="navbar-brand" ui-sref="instrumentos.index">
            <span class="glyphicon glyphicon-home"></span> SEDAD
          </a> -->
        </div>

        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-6">
          <ul class="nav navbar-nav">
            <li><a ui-sref="home">Inicio</a></li>
            <li><a ui-sref="instrumentos.index">Instrumentos</a></li>

            <li><a ui-sref="periodos.index">Períodos</a></li>
            <li><a ui-sref="reportes.index">Reportes</a></li>
            <li><a ui-sref="instrumentos.index">Contact</a></li>
          </ul>
        </div>
      </div>
    </nav>