<!--Migas de Pan-->
<ol class="breadcrumb">
 <li><a ui-sref="instrumentos.index">Inicio</a></li>
 <!--   <li><a href="#">Administración</a></li> -->
 <li class="active">Reportes</li>
</ol>
<!--Fin Migas de Pan-->

<div class="clearfix"> </div>
  <div ng-hide="Vp7" class="col-sm-4 col-md-4">
     <h5 class="subtitulo-rep"><strong>{{nombre_reporte}}:</strong>
        <div ng-hide="Vp70">
         ¿{{graficas.pregunta.interrogante}}? Materia: {{graficas.materia.codigo}} {{graficas.materia.nombre}}
        </div>
        <div ng-hide="Vp71">
         Materia: {{graficas.materia.codigo}} {{graficas.materia.nombre}} Instrumento:{{graficas.instrumento.nombre}}
        </div> 
        <div ng-hide="Vp72">
         {{graficas.materia.codigo}} {{graficas.materia.nombre}}    Instrumento: {{graficas.instrumento.nombre}}
        </div>
        <div ng-hide="Vp73">
         Materia: {{graficas.materia.codigo}} {{graficas.materia.nombre}} Per&iacute;odo: {{periodos[persel].periodo}}
        </div>  
        <div ng-hide="Vp74">
         Materia: {{graficas.materia.codigo}} {{graficas.materia.nombre}} Per&iacute;odo:{{periodos[persel].periodo}}
        </div> 
        <div ng-hide="Vp75">
         {{graficas.docente.cedula}} {{graficas.docente.nombre_completo}} Pregunta:{{graficas.pregunta.interrogante}}
        </div> 
         <div ng-hide="Vp76">
         {{graficas.docente.cedula}} {{graficas.docente.nombre_completo}} Instrumento:{{graficas.instrumento.nombre}}
        </div> 
        <div ng-hide="Vp77">
         {{graficas.docente.cedula}} {{graficas.docente.nombre_completo}}    Instrumento: {{graficas.instrumento.nombre}}
        </div>  
         <div ng-hide="Vp78">
         {{graficas.docente.cedula}} {{graficas.docente.nombre_completo}} Per&iacute;odo:{{graficas.periodo}}
        </div>  
          <div ng-hide="Vp79">
         {{graficas.docente.cedula}} {{graficas.docente.nombre_completo}}     Per&iacute;odo:{{graficas.periodo_academico.periodo}}
        </div>   
       </h5> 
        <canvas id="pie" class="chart chart-pie" data="datos1"
        labels="etiquetas" legend="true" 
        click="">
<!--         click="asignavalor1()"> -->
      </canvas>
     
<!-- fin Gráfica Torta -->
<!-- Gráfica Radar -->
<!--       <h5 class="subtitulo-rep"><strong>{{nombre_reporte}}:</strong>
        <div ng-hide="Vp70">
         ¿{{graficas.pregunta.interrogante}}? Materia: {{graficas.materia.codigo}} {{graficas.materia.nombre}}
        </div>
        <div ng-hide="Vp71">
         Materia: {{graficas.materia.codigo}} {{graficas.materia.nombre}} Instrumento:{{graficas.instrumento.nombre}}
        </div> 
        <div ng-hide="Vp73">
         Materia: {{graficas.materia.codigo}} {{graficas.materia.nombre}} Per&iacute;odo:{{periodos[persel].periodo}}
        </div>                
        <div ng-hide="Vp75">
         {{graficas.docente.cedula}} {{graficas.docente.nombre_completo}} Pregunta:{{graficas.pregunta.interrogante}}
        </div> 
         <div ng-hide="Vp76">
         {{graficas.docente.cedula}} {{graficas.docente.nombre_completo}} Instrumento:{{graficas.instrumento.nombre}}
        </div> 
         <div ng-hide="Vp78">
         {{graficas.docente.cedula}} {{graficas.docente.nombre_completo}} Per&iacute;odo:{{graficas.periodo}}
        </div>  

       </h5> 
      <canvas id="base" class="chart-base" chart-type="type" data="datos1"
      labels="etiquetas" legend="true" 
      click="">
      </canvas>
    -->
<!--fin Gráfica Radar-->

<!--Gráfica Linea -->

<!--       <h5 class="subtitulo-rep"><strong>{{nombre_reporte}}:</strong>
        <div ng-hide="Vp72">
         Materia: {{graficas.materia.codigo}} {{graficas.materia.nombre}}    Instrumento: {{graficas.instrumento.nombre}}
        </div>
        <div ng-hide="Vp74">
         Materia: {{graficas.materia.codigo}} {{graficas.materia.nombre}} Per&iacute;odo:{{periodos[persel].periodo}}
        </div> 
        <div ng-hide="Vp77">
         {{graficas.docente.cedula}} {{graficas.docente.nombre_completo}}    Instrumento: {{graficas.instrumento.nombre}}
        </div>  
          <div ng-hide="Vp79">
         {{graficas.docente.cedula}} {{graficas.docente.nombre_completo}}     Per&iacute;odo:{{graficas.periodo_academico.periodo}}
        </div>                        
      </h5> 

      <canvas id="line" class="chart chart-line" data="datos2"
      labels="ejex1" legend="true" series="series2"
      click="onClick">
      </canvas>
 -->     
<!--fin Gráfica Linea-->
<!--Gráfica Barra-->
<!--       <h5 class="subtitulo-rep"><strong>{{nombre_reporte}}:</strong>
        <div ng-hide="Vp72">
         Materia: {{graficas.materia.codigo}} {{graficas.materia.nombre}}    Instrumento: {{graficas.instrumento.nombre}}
        </div>
        <div ng-hide="Vp74">
         Materia: {{graficas.materia.codigo}} {{graficas.materia.nombre}} Per&iacute;odo:{{periodos[persel].periodo}}
        </div>  
         <div ng-hide="Vp77">
         {{graficas.docente.cedula}} {{graficas.docente.nombre_completo}}     Instrumento: {{graficas.instrumento.nombre}}
        </div>   
         <div ng-hide="Vp79">
         {{graficas.docente.cedula}} {{graficas.docente.nombre_completo}}     Per&iacute;odo:{{graficas.periodo_academico.periodo}}
        </div>                      
      </h5> 

      <canvas id="bar" class="chart chart-bar" data="datos2" labels="ejex1" legend="true" series="series2" click="">
     </canvas> -->
    
<!--fin Gráfica Barra-->
</div>
<!--fin Gráficas-->

<!--Inicio opciones de Descarga en PDF/CSV Vp6-->
<div ng-hide="Vp6">

  <div class="col-sm-8 col-md-8 text-center ">
    <a href={{repourl}}>Presione para Descargar<i class="glyphicon glyphicon-download"></i></a>
  </div>

</div>
<!--fin Descargas-->
<!--Tabla de reportes Visible1-->
<div ng-hide="Visible1">
 <div class="col-sm-8 col-md-8">
  <div class="panel panel-primary">
   <div class="panel-heading">
    <strong><h4>Reportes</h4></strong>
   </div>
   <table class="table table-bordered table-hover">
    <thead>
     <tr>
      <th class="col-xs-1 text-center">Número</th>
      <th class="col-xs-10">Descripción</th>
      <th class="col-xs-2">Formatos Disponibles</th>
      <th class="col-xs-1 text-center">Datos Requeridos</th>
     </tr>
   </thead>
   <tbody>
    <tr ng-repeat="r in repdis">
     <td class="col-xs-1 text-center">{{r.id }}</td>
     <td class="col-xs-10">{{r.nombre}}</td>
     <td class="col-xs-2">{{r.pdcs}}</td>
     <td class="col-xs-1 text-center">
      <span class="input-group-btn">
        <button class="btn btn-info btn-xs" ng-click="pedirparametros($index)">
        <i class="glyphicon glyphicon-ok"></i>
        </button>       
      </span>
     </td>          
    </tr>
    </tbody>        
   </table>
  </div>
 </div>
</div>
<!--Fin Tabla de reportes Visible1-->
<!--Solicitud de Campos Requeridos para emision del Reporte solicitado-->
<div ng-hide="Visible2">
  <div class="col-sm-8 col-md-8">
    <h5 class="subtitulo-rep"><strong>Reporte: {{nombre_reporte}} </strong><small>Seleccione campos requeridos</small>
      </h5>
  </div>
  <br>
 <form class="form col-sm-8 col-md-8" ng-submit="">
 <!--Se requiere Carrera -->
<!--      <div ng-hide="Vp0">
       <div class="form-group">
        <label for="id" class="col-sm-8 col-md-8 control-label">Carrera:</label>
        <div class="col-md-6">
         <select class='form-control' ng-model="carsel" required="required" ng-options="carrera.id as carrera.id+' '+carrera.nombre for carrera in carreras">
         </select> 
       </div>
     </div>
   </div> -->
 <!--Fin Carrera -->
 <!--Se requiere Materia -->
   <div ng-hide="Vp1">
    <div class="form-group">
      <label for="codigo" class="col-sm-8 col-md-8 control-label">Materia:</label>
      <div class="col-md-6">
       <select class='form-control' ng-model="matsel" required="required" ng-options="materia.codigo as materia.codigo+'-'+materia.nombre for materia in materias">
       </select> 
     </div>
   </div>
 </div> 
 <!--Fin Materia -->
 <!--Se requiere Pregunta -->
   <div ng-hide="Vp2">
    <div class="form-group">
     <label for="id" class="col-sm8 col-md-8 control-label">Pregunta:</label>
     <div class="col-md-6">
      <select class='form-control' ng-model="presel" required="required" ng-options="pregunta.id as pregunta.id+'-'+pregunta.interrogante for pregunta in preguntas">
      </select> 
    </div>
   </div>
  </div> 
 <!--Fin Pregunta -->
 <!--Se requiere Instrumento -->
<div ng-hide="Vp3">
  <div class="form-group">
     <label for="id" class="col-sm-8 col-md-8 control-label">Instrumentos:</label>
     <div class="col-md-6">
      <select class='form-control' ng-model="inssel" required="required" ng-options="instrumento.id as instrumento.id+'  '+instrumento.nombre for instrumento in instrumentos">
      </select> 
    </div>
  </div>
</div> 
 <!--Fin Instrumento -->
 <!--Se requiere Periodo Académico -->
<div ng-hide="Vp4">
 <div class="form-group"><!-- text-center -->
  <label for="periodo" class="col-sm-8 col-md-8 control-label">Per&iacute;odo Académico:</label>
  <div class="col-md-6">
   <select class='form-control' ng-model="persel" required="required" ng-options="periodo.periodo as periodo.periodo for periodo in periodos">
   </select> 
 </div>
</div>
</div> 
 <!--Fin Periodo Académico -->
 <!--Se requiere Docente -->
<div ng-hide="Vp5">
  <div class="form-group">
   <label for="cedula" class="col-sm-8 col-md-8 control-label">Docente:</label>
   <div class="col-md-6">
    <select class='form-control' ng-model="docsel" required="required" ng-options="docente.cedula as docente.cedula+' '+docente.primer_nombre+' '+docente.primer_apellido for docente in docentes">
    </select> 
  </div>
</div>
</div>  
 <!--Fin Docente -->
<br>
<div class="container col-sm-10 col-md-10" >
 <br>
 <!--Cancelar Reporte --> 
 <div class="col-xs-3">
  <button class="btn btn-success" ng-click="volver()">Cancelar<i class="glyphicon glyphicon-exit"></i> 
  </button>
</div> 
 <!--Fin Cancelar Reporte --> 
<!--Emitir Reporte Formato PDF-->  
    <div ng-hide="pdf">
      <div class="col-xs-3">
        <button class="btn btn-rep3" ng-click="pdfReporte()">PDF
        </button>
      </div><!--Fin Reporte Formato PDF-->
    </div>
    <div ng-hide="csv"><!--Emitir Reporte Formato CSV-->
      <div class="col-xs-3"> <!-- align="center" -->
        <button class="btn btn-rep2" ng-click="csvReporte()">CSV
        </button>   
      </div>
    </div><!--Fin Reporte Formato CSV--> 
    <div class="col-xs-3"><!--Emitir Graficas-->  
      <button class="btn btn-rep1 " ng-click="graReporte()">Gráfica
      </button>  
    </div><!--Fin Graficas-->
</div>    
</form>   
</div>


