<!--Migas de Pan--> 
<ul class="breadcrumb"> 
  <li><a ui-sref="reportes.index">SEDAD</a></li>
  <li><a ui-sref="usuarios.index">Usuarios</a></li>
  <li class="active">Editar usuario</li>
</ul>
<!--Fin Migas de Pan-->

<div class="container">
	<div class="row">
		<div class="col-sm-8 col-md-8">
			<h3>Editar Usuario {{usuarioEditar.usuario.cedula}}</h3>
		</div>
		<div class="col-sm-4 col-md-4 text-right">
			<button class="btn btn-primary" ng-click="guardar()">Guardar</button>
		</div>
	</div>
	<div class="row">
		<div class="col-sm-12">
			<label>Rol</label>
			<select ng-options="option.nombre for option in usuarioEditar.roles | orderBy:'nombre':true track by option.id" ng-model="rol_seleccionado" convert-to-number> </select>
		</div>
	</div>
</div>