<!--Migas de Pan--> 
<ul class="breadcrumb"> 
  <li><a ui-sref="reportes.index">SEDAD</a></li>
  <li><a ui-sref="consultas.index">Consultas</a></li>
  <li class="active">Consultas sin responder</li>
</ul>
<!--Fin Migas de Pan-->

<div class="container">
		<h1>Consulta sobre la Actividad Docente</h1>
		<details>
			<dl>
				<dt>Per&iacute;odo</dt>
				<dd>{{ consulta.oferta_academica.periodo }}</dd>
				<dt>Asignatura:</dt>
				<dd>{{ consulta.oferta_academica.nombre }} ({{ consulta.oferta_academica.codigo }})</dd>
				<dt>Sección</dt>
				<dd>{{ consulta.oferta_academica.seccion }} - Prof. {{ consulta.oferta_academica.docente.primer_nombre }} {{ consulta.oferta_academica.docente.primer_apellido }}</dd>
				<dt>Instrumento:</dt>
				<dd>{{ consulta.instrumento.nombre }}</dd>
			</dl>
		</details>
		
		<fieldset class="bloque" ng-repeat="b in consulta.instrumento.bloques">
			<legend>{{ b.nombre }} ({{ b.tipo }})</legend>
			<p class="descripcion">{{ b.descripcion }}</p>

			<div class="row pregunta" ng-repeat="p in b.preguntas track by $index">
				<div class="col-xs-12">
					<p class="titulo">{{ p.interrogante }}</p>
					<p class="descripcion">{{ p.descripcion }}</p>
					<ul class="opciones">
						<li class="opcion" ng-repeat="o in p.opciones">
							<label for="{{o.id}}">{{ o.etiqueta }}</label>
							<input id="{{o.id}}" type="radio" ng-model="p.respuesta" value="{{ o.valor }}">
						</li>
					</ul>
					<div class="clear">&nbsp;</div>
				</div>
			</div>
		</fieldset>
		<p class="text-right">
			<br>
			<button class="btn btn-success" ng-click="responderConsulta()">Enviar</button>
		</p>
	</form>
</div>