<div class="container">
    <div class="row">
        <div class="col-md-offset-4 col-md-4">
            <br>
            <form class="form-signin" ng-submit="submitLogin(usuario)" role="form">
                <h3 class="form-signin-heading text-center">Iniciar sesión en SEDAD</h3>
                <input type="text" class="form-control" ng-model="usuario.cedula" placeholder="cedula" required autofocus/>
                <input type="password" class="form-control" ng-model="usuario.clave" placeholder="clave" required/>
                <button class="btn btn-block btn-primary" type="submit">Entrar</button>
            </form>
        </div>
    </div>
</div>